.homeCon{
    display: flex;
    flex-direction: column;
   

}
.head{
    color: aliceblue;
    background-color: hsl(0, 0%, 31%);
    padding: 2px;
}
.userName{
    font-size: 30px;
    margin-left: 2%;
    cursor: pointer;
    width: 37%;
}
.sideBar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}
.sideBarlist{
    flex: 1 0 17rem;
    background-color: aqua;
}
.homecontent{

    flex: 1 0 52rem;

    background-color: black;

}