.homeCon{
    display: flex;
    flex-direction: column;
   

}
.head{
    color: aliceblue;
    background-color: hsl(0, 0%, 31%);
    padding: 2px;
    position: sticky;
    top: 0;
}
.userName{
 font-size: 30px;
  margin-left: 2%;
 cursor: pointer;
 width: 50%;
}
.sideBar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
}
.sideBarlist{
    flex: 0 1 17rem;
    background-color: #f1f1f1;
    min-height: 44rem;
   list-style-type: none;
    
   
}
.homecontent{

    flex: 1 0 75%;
    background-image: url(../../desktop/pexels-bich-tran-1074920.jpg);
   
    background-size: cover;
    background-repeat: no-repeat;
   
}

.sideBarlist li{
    text-align: center;
    height: 48px;
   list-style: none;
   list-style-type: none;
   margin-left: -14%;
    padding-top: 4%;
   
}
.sideBarlist li:hover{
    background-color: #6055a5;
    color: #fff;
    cursor: pointer;
   
}
.firstList{
    background-color: #6055a5;
    color: #fff
}